body{
max-width:1520px;
height:1500px;
background-color:#fff;
font-family:宋体;
padding:0;
font-size:17px;
margin:0px auto auto auto;
color:#000000;

}
.header{
position:fixed;
width:1520px;
z-index:3;
}
.menu{
height=55px;
background-color:#323232;
margin:auto;
}
.nav a{
float:left;
position:relative;
bottom:90px;
margin:50px;
left:390px;
list-style:none;
text-decoration:none;
color:#d6d6d6;
}
.nav a:hover{
color:#f9f9f9;
}
.search{
float:right;
position:relative;
right:350px;
bottom:18px;
}
.main{
width:1520px;
height:1500px;
}
.mm1{
width:1000px;
height:1500px;
position:relative;
left:250px;
}
.mm2{
width:500px;
height:1400px;
position:relative;
left:250px;
}
.m1{
height:170px;
position:relative;
font-size:50px;
font-family:黑体;
font-weight:bold;
left:20px;
top:50px;
}
.m2{
height:400px;
position:relative;
font-size:17px;
font-family:黑体;
}
.m2_1{
height:50px;
width:200px;
position:relative;
left:20px;
top:50px;
margin:10px;
}
.m2_2{
position:relative;
font-size:15px;
font-family:黑体;
font-weight:bold;
color:#666666;
top:70px;
left:30px;
}
.m2_3{
height:55px;
width:440px;
position:relative;
left:20px;
top:70px;
margin:10px;
}
.m2_4{
height:50px;
width:435px;
position:relative;
left:30px;
top:80px;
}
.m3{
height:380px;
position:relative;
bottom:100px;
}
.m3_1{
position:relative;
font-size:15px;
font-family:黑体;
font-weight:bold;
color:#666666;
top:70px;
left:30px;
}
.m3_2{
height:50px;
width:435px;
position:relative;
left:20px;
top:80px;
margin:10px;
}
.m4{
height:520px;
position:relative;
bottom:100px;
}
.m4_1{
position:relative;
font-size:15px;
font-family:黑体;
font-weight:bold;
color:#666666;
top:0px;
left:30px;
}
.m4_2{
height:55px;
width:440px;
position:relative;
left:20px;
margin:10px;
}
.m4_3{
height:50px;
width:435px;
position:relative;
left:30px;
top:10px;
}
.m4_4{
height:55px;
width:440px;
position:relative;
left:20px;
top:45px;
margin:10px;
}
.m4_5{
height:50px;
width:435px;
position:relative;
left:30px;
top:55px;
}
.m4_6{
height:55px;
width:440px;
position:relative;
left:20px;
top:85px;
margin:10px;
}
.m4_7{
height:50px;
width:435px;
position:relative;
left:30px;
top:95px;
}
.m4_8{
position:relative;
font-size:13px;
top:110px;
left:30px;
}
.mm1_1{
position:relative;
font-size:15px;
top:40px;
left:470px;
color:#fff;
border:10px solid #0071e3;
border-width:10px 15px;
background-color:#0071e3;
border-radius: 30px;
text-decoration:none;
}

.footer{
height:20px;
width:1520px;
}
.f1{
width:1520px;
position:relative;
bottom:00px;

}